extends ../layout
block content
    .container.user-page
        .row
            .col.s12.m10.offset-m1.l8.offset-l2.center-align.heading
                .row
                    - var rest_pic = rest.mainPicture
                    .col.s12.m10.offset-m1.l3
                        img.profilepic(src='/uploads/'+rest_pic, alt='/images/default.png')
                    .col.s12.m10.offset-m1.l8.push-l1.left-align
                        h4.hide-on-large-only.center-align.black-text #{rest.name}                             
                        h5.hide-on-large-only.center-align.grey-text #{rest.address}
                        h4.hide-on-med-and-down.left-align.black-text #{rest.name}
                        h5.hide-on-med-and-down.left-align.grey-text #{rest.address}
                    .col.s12.m10.offset-m1.l12
                        a.btn.waves-effect.waves-light.col.l2.offset-l4 Seguir
                        if user.type
                                a.btn.waves-effect.waves-light.col.l2.push-l1(href='/restaurants/edit/'+rest._id) Editar
                .row
                if photos
                    each photo in photos
                        -var pict_url = photos.url
                        .col.s12.m6.l4
                            a.picture-container(href='/images/'+pict_url)
                            img.picture(src='')
                            .likes
                                i.fa.fa-heart
                                |   #{photo.likes}
                            .modal.modal-fixed-footer(id='modal${picture.id}')
                            .modal-content.center
                                img(src='${picture.src})')
                            .modal-footer
                                .btn.btn-flat.likes
                                i.fa.fa-heart
                                |  ${translate('likes', { likes: picture.likes })}