extends ../layout
block content
    .container.landing
        .row
            .col.m7.push-m2
                each restaurant in restaurants
                    .card
                        .card-image
                            if restaurant.mainPicture
                                img.activator(src=''+restaurant.mainPicture)
                            if !restaurant.mainPicture
                                img.activator(src='https://res.cloudinary.com/uv-marketing/image/upload/v1500773833/ligl007_picture.jpg')
                            i.fa.fa-heart.like-heart
                        .card-content
                            a.card-title(href='/restaurants/'+restaurant._id) #{restaurant.name}
                                img.avatar(src='https://res.cloudinary.com/uv-marketing/image/upload/v1500773490/ligl007_procfile.jpg')
                                a.username(href='/users/'+restaurant.createdBy._id) #[small #[b Por: ] #{restaurant.createdBy.username}]
                            small.right.time= moment(restaurant.created).fromNow()
                            p #[a.left(href='#!') #[i.fa.fa-heart-o]]                                
                            each comment in restaurant.comments
                                br
                                small.comment #[a.username(href='/users/'+restaurant.createdBy._id) #[b #{comment.user.username}]] #{comment.text}
                            a.center(href='#!')
                                form(action='/comments', method='POST')
                                    input(type='hidden', name='user', value=''+user._id)
                                    input(type='hidden', name='restaurant', value=''+restaurant._id)
                                    input.form-control(type='text', name='text', placeholder='Añadir comentario...')
                                small.right.likes #{restaurant.visits} visitas